body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("../img/berries-bg.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h3 {
    color: #999;
}

.stats {
    position: relative;
    margin-top: 10vh;
    min-height: 50vh;
}

.stats .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stats .cards .card {
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 0 8px rgba(0,0,0,0.2 ), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.card img {
    width: 40px;
    height: 40px;
}

.add {
    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.catalogue h1 {
    color: white;
}

.catalogue button {
    background: rgb(193, 44, 44);
    height: 43px;
    padding: 11px 20px;
    border: none;
    border-radius: 50px;
    outline: none;
    color: white;
    cursor: pointer;
}

.catalogue button:hover {
    background: white;
    border: 1px solid black;
    color: black;
}

.catalogue i {
    color: black;
}

.popup {
    width: 50%;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -90%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    box-shadow: 0 4px 0 8px rgba(0,0,0,0.2 ), 0 6px 20px 0 rgba(0,0,0,0.19);

    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 100%;
    transform: translate(-50%, -90%) scale(1);
}

.elements {
    padding-bottom: 8px;
}

.popup button {
    background: rgb(193, 44, 44);
    height: 43px;
    padding: 11px 20px;
    border: none;
    border-radius: 50px;
    outline: none;
    color: white;
    cursor: pointer;
}


.contactForm{
    width:40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width:100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100% ;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color:#666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size:12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: rgb(193, 44, 44);
    color: #fff;
    border:none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width:991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
}
